body{
    width: 100vw;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: #282a36;
    color: #f8f8f2;
    overflow-x: hidden;

}

#container{
    width: 100%;
    background: linear-gradient(30deg, #000, #282a36, #000);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
    

    .step-info{
        max-width: 1000px;

        h2{


            a{
                text-decoration: none;
                color: red;
            }
        }
    }

    .code-container{
        width: 100%;
        max-width: 700px;
        max-height: 400px;
        border: 1px solid #444;
        border-radius: 8px;
        overflow: auto;
        background-color: #2d2d2d;



        /* Stylowanie dla <pre> */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        
        .code-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            background-color: #444;
            border-bottom: 1px solid #333;
            color: #f8f8f2;
        }
        
        .language-label {
            font-size: 14px;
            font-weight: bold;
        }
        
        .copy-btn {
            background: none;
            border: none;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }
        
        .copy-btn:hover {
            opacity: .7;
        }
        
        pre {
            margin: 0;
            padding: 15px;
            background-color: #2d2d2d;
            color: #f8f8f2;
            font-size: 14px;
            overflow-x: auto;
            white-space: pre-wrap; /* umożliwia łamanie wierszy */
        }
        
        code {
            background-color: #2d2d2d;
            color: #f8f8f2;
        }
    }
}

